<div class="sidebar">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/categories">All Categories</a></li>
    <li><a href="/items">All Items</a></li>
    <hr>
    <li><a href="/category/create">Create new category</a></li>
    <li><a href="/item/create">Create new item</a></li>
  </ul>
</div>